@media only screen and (min-width: 769px) {
  .container_Layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% 1fr 1fr 5%;
    grid-template-areas:
      "Header Header Header Header"
      "section section section section"
      "main main main main"
      "footer footer footer footer";
  }
}

/*  */

/*  */
.container_Layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 1fr 1fr 5%;
  grid-template-areas:
    "Header"
    "section"
    "main"
    "footer";

  row-gap: 10px;
  width: 100vw;
  height: 100vh;
  margin: 0% 0% 0% 0%;
  justify-content: center;
}

.All_item {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.item_header {
  grid-area: Header;
}
.item_section {
  grid-area: section;
}
.item_main {
  grid-area: main;
}
.item_footar {
  grid-area: footer;
}
